<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="e2e flows">
    <parameter name="username" value="akhiljda@gmail.com"></parameter>
    <parameter name="password" value="Password"></parameter>
    <parameter name="product" value="Seasonal color chuck 70"></parameter>
    <parameter name="qty" value="2"></parameter>
    <parameter name="size" value="X"></parameter>
    <parameter name="color" value="Brown"></parameter>
    <test name="Chrome test plan">
        <parameter name="browserName" value="chrome"></parameter>

        <classes>
           <class name="TestNGDemo">
           </class>
        </classes>
    </test>


</suite>


